@media screen and (max-width:768px) {
    body {
        margin: auto;
        max-width: 100%; 
        overflow-x: hidden ;
        line-height: 1.3;
    }
    
    h2 { 
        font-size: 30px;
    }

    header {
        display: none;
    }

    .title {
        width: 100%;
        padding: 20px 0;
        margin: 0;
        line-height: 1.3;
    }

    .about-home-text {
        border: 2px solid black;
        width: 80%;
        margin: 5px auto ;
        font-size: 18px;
        border-radius: 25px ;
        padding: 0 30px;
        font-size: 10px;
    }

    .first,
    .second,
    .third {
        border: 3px solid pink;
  }

    .main-cards {
        height: max-content;
        width: 85%;
        margin: auto;
    }

    .wrapper {
        padding-top: 10px;
    }

    .learn {
        font-size: 12px;
    }

    
    .cards-wrapper {
        height: auto ;
        display: block;
        background-image: none;
        margin: auto;
        border-radius: 0;
        border: none;
    }

    .first {
        background-image: none;
        width: 100%;
        height: 200px;
        margin: auto;
        margin-bottom: 5px;
    }

    .first:hover {
        background-color: pink;
    }

    .first .btn {
        margin: auto;
        width: fit-content;
    }

    .second { 
        background-color: pink;
        background-image: none;
        width: 100%;
        height: 200px;
        margin: auto;
        margin-bottom: 5px;
        padding-bottom: 0;
        }

        .second .btn {
            background-color: white;
            width: fit-content;
            margin: auto;
        }

    .third { 
        background-image: none;
        width: 100%;
        height: 200px;
        margin: auto;
        }

        .third .btn {
            margin: auto;
        }

        .partners {
            height: 60px;
        }

        .partner-pic {
            height: 50px;
            width: auto;
        }

        footer {
            flex-direction: ;
            height: max-content;
            margin: 0;
            font-size: 13px;
            
        }

        .sticky {
            flex-direction: column;
        }




}