@media screen and (max-width:800px) {
    body {
        width: 98%;
    }

    header {
        display: none;
    }

    .title {
        padding: 0;
        margin: 0;
    }

    .about-home-text {
        margin: 5px auto ;
        font-size: 18px;
        border-radius: 0px ;
    }

    .main-cards {
        height: max-content;
    }

    .wrapper {
        padding-top: 10px;
    }

    
    .cards-wrapper {
        height: auto ;
        display: block;
        background-image: none;
        margin: auto;
        border-radius: 0;
        border: none;
    }

    .first {
        background-image: none;
        width: 100%;
        height: 200px;
        margin: auto;
        margin-bottom: 5px;
    }

    .first .btn {
        margin: auto;
        width: fit-content;
    }

    .second { 
        background-image: none;
        width: 100%;
        height: 200px;
        margin: auto;
        margin-bottom: 5px;
        padding-bottom: 0;
        }

        .second .btn {
            width: fit-content;
            margin: auto;
        }

    .third { 
        background-image: none;
        width: 100%;
        height: 200px;
        margin: auto;
        }

        .third .btn {
            margin: auto;
        }

        .partners {
            height: 60px;
        }

        .partner-pic {
            height: 50px;
            width: auto;
        }

        footer {
            margin: auto;
        }




}