body {
    margin: auto;
    text-align: center;
    background-color: e;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 50rem;
    
  }
  
  li {
    list-style: none;

  }
  
  h2 {
    font-size: 40px;
  }
  
  .nav {
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: 20px;
    padding-top: 20px;
    color: pink;
  
  }
  
  .title {
    height: 200px;
    margin: auto;
    background: pink;
    margin-top: 20px;
    padding: 50px 175px;
    border: 4px solid white;
    border-radius: 10px;
   
  }

  .about-home-text {
    height: max-content;
    margin: 20px auto;
    font-size: 14px;
    background-color: pink;
    border: 4px solid white;
    border-radius: 10px;
    padding: 0 75px;
  }
  
  .cards-wrapper {
    height: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    background-image: url("https://images.unsplash.com/photo-1568640347023-a616a30bc3bd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDN8fGRvZ3N8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60");
    background-position: center;
    background-size: cover;
    margin: 20px auto;
    border: 4px solid white;
    border-radius: 10px;
  }


  .first,
  .second,
  .third {
    background-color: white;
    width: 350px;
    height: 350px;
    color: white;
    border: 5px solid rgb(251, 246, 247);
    border-radius: 4px;
  }
  
  .first {
    background-image: url("https://images.unsplash.com/photo-1530041539828-114de669390e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTg3fHxkb2dzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60");
    background-size: cover;
    
   
  }
  
  .second {
    padding-bottom: 100px;
    background-image: url("https://images.unsplash.com/photo-1541364983171-a8ba01e95cfc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTk2fHxkb2dzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60");
    background-size: cover;
  }
  
  .third {
    background-image: url("https://images.unsplash.com/photo-1518020382113-a7e8fc38eac9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjR8fGRvZ3N8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60");
    background-size: cover;
  }
  
  .wrapper {
    color: black;
  }

  .btnfirst:hover {
    background-color: white; 
  }

  .btnfirst {
   margin: auto;
   margin-top: 255px;
  }
  

  .btnlast {
    margin: auto;
    margin-top: 255px;
  }
  
  .btn {
    border: 2px solid black;
    height: max-content;
    width: max-content;
    border-radius: 5px;
    padding:8px 8px;
    background-color: pink;
  }
  
  .btnmid {
    margin: auto;
    margin-top: 350px;
  }
  
  .learn {
    text-decoration: none;
    color: black;
    font-weight: 550;
    font-size: 14px;
  }
  
  .testimonials {
    height: 450px;
   border: 7px solid white;
    overflow: scroll;
  }

  .section-headers {
    padding: 0;
    color: black;
    margin: 10px 0 ;
    height: max-content;
    font-size: 25px;
    border: 2px outset white;
    background-color: pink;
  }

  .reviews { 
    width: 85%;
    border: 2px solid black;
    border-radius: 10px;
  }

  .pic-gallery {
    height: 500px;
  }

  .pic-gallery-header {
    height: 25px;
    background-color: pink;
  }
  
  footer {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    width: 100%;
    background: pink;
    height: max-content;
    position: relative;
    
  }
  
  .sticky {
    display: flex;
    text-align: left;
    justify-content: space-around;
    align-items: center;
    
  }

  .partners {
    display: flex;
    flex-flow: row;
    width: 100%;
    height: max-content;
    margin: auto;
    margin-top: 10px;
    background-color: white;
    justify-content: space-around;
    align-items: center;
  }

  .partners-text { 
    max-width: 180px;
    font-size: 25px;
  }

  .partner-pic { 
    width: 175px;
    height: 85px;
  }


